@font-face {
  font-family: Gothic;
  src: url(fonts/CyrillicGoth.otf);
}

@font-face {
  font-family: PoiretOne-Regular;
  src: url(fonts/PoiretOne-Regular.ttf);
}

@media screen and (orientation: landscape) {
  body {
    background-color: #0b090c;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Gothic;
    font-style: normal;
  }

  h1 {
    margin-top: 16%;
    text-align: center;
    position: fixed;
    width: 100%;
    color: #d4a515;
    font-size: 0px;
  }

  h2 {
    text-align: center;
    width: 100%;
    font-family: Gothic;
    color: darkred;
    font-size: 50px;
  }

  .enter {
    width: 100%;
    height: 100%;
    font-family: Gothic;
    color: red;
    position: fixed;
    font-size: 200px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  a {
    color: #d4a515;
    text-decoration: none;
  }

  li {
    width: 97%;
  }

  p {
    width: 97%;
    margin-left: 30px;
    font-size: 27px;
    text-align: left;
    font-family: PoiretOne-Regular;
    color: #d4a515;
  }

  table {
    width: 96%;
    margin-left: 2%;
    margin-bottom: 10%;
  }

  td {
    width: auto;
    padding: 0.3%;
    font-size: 18px;
    border-top: 1px solid #d4a515;
    border-left: 1px solid #d4a515;
    font-family: PoiretOne-Regular;
    font-weight: bold;
    text-align: left;
    color: #d4a515;
  }

  .resume {
    margin-left: 3%;
    margin-top: 2%;
    font-size: 24px;
    text-align: left;
    font-family: PoiretOne-Regular;
    color: #d4a515;
  }

  .list {
    text-align: center;
    margin-top: 0.5%;
    margin-bottom: 1%;
  }

  .text, .two {
    width: 98%;
    padding-bottom: 10%;
  }

  .right {
    border-right: 1px solid #d4a515;
  }

  .bottom {
    border-bottom: 1px solid #d4a515;
  }

  .high {
    text-align: center;
  }

  .retext {
    font-family: Gothic;
    color: sandybrown;
    font-size: 100px;
    text-align: center;
  }

  .two {
    margin-left: 30%;
    padding-right: 3%;
  }

  .space-between {
    justify-content: space-between;
  }

  .row, .row-desktop {
    flex-direction: row;
    display: flex;
  }

  .column {
    flex-direction: column;
    display: flex;
  }

  .category {
    margin-left: 30px;
    margin-top: 0.2%;
    margin-bottom: 2.5%;
    font-family: Gothic;
    font-size: 25px;
    color: #d4a515;
  }

  .big:hover {
    transition: 0.5s;
    transform: scale(1.4);
  }

  .recategory {
    font-family: Gothic;
    font-size: 50px;
    text-align: center;
    color: #d4a515;
    padding-bottom: 3%;
  }

  .menu {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
  }

  .menudown, .kick {
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 2;
  }

  .display {
    display: none;
  }

  .kick {
    width: 98%;
  }

  .up {
    width: 30px;
  }

  .picture {
    width: 28%;
    margin-block: 6%;
    margin-inline: 36%;
    position: absolute;
    border-radius: 3%;
    opacity: 0.5;
    padding-top: 0.5%;
  }

  .about {
    opacity: 1;
    margin-block: 1%;
  }

  .pic {
    width: 40px;
    height: 40px;
    margin-left: 12px;
  }

  .work {
    width: 60px;
    height: 60px;
    margin-left: 2%;
    margin-top: 2%;
  }

  .social {
    margin-right: 30px;
  }

  .background {
    width: 100%;
    height: 100%;
    position: fixed;
    opacity: 0.1;
    z-index: -1;
  }

  .color {
    color: red;
  }

  .path {
    text-decoration: underline;
  }

  .content {
    margin-bottom: 8%;
  } 

  .gallery, .places {
    margin-left: 5%;
    padding-right: 5%;
    margin-top: 5%;
    margin-bottom: 4%;
    z-index: 1;
  }

  .gallery img, .photo img, .places img {
    width: 100%;
    border-radius: 5%;
    border: 1px solid #d4a515;
  }

  .gallery div, .places div {
    color: #d4a515;
    text-align: center;
    margin-top: 20px;
    font-size: 32px;
    font-family: PoiretOne-Regular;
    font-weight: bold;
  }

  .gallery img {
    width: 400px;
    height: 400px;
  }

  .places {
    margin-left: 3%;
    padding-right: 3%;
  }

  .places img, iframe {
    width: 1200px;
    height: 760px;
    z-index: 1;
    border-radius: 1%;
    border: 1px solid #d4a515;
    margin: auto;
  }

  .photo {
    margin-left: 3%;
    padding-right: 3%;
    z-index: 1;
  }

  .photo img {
    width: 200px;
    height: 200px;
  }

  .photo div {
    color: #d4a515;
    text-align: center;
    margin-top: 12px;
    margin-bottom: 36px;
    font-size: 18px;
    font-weight: bold;
    font-family: PoiretOne-Regular;
  }

  .popup {
    background-color: black;
    opacity: 0.8;
    position: fixed;
  }

  .popup_container {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
  }

  .popup_image {
    border-radius: 20px;
    border: 1px solid red;
  }

  .button_left img {
    width: 34px;
    height: 34px;
    bottom: 60px;
    left: calc(50% - 78px);
    position: absolute;
  }

  .button_right img {
    width: 34px;
    height: 34px;
    bottom: 60px;
    right: calc(50% - 78px);
    position: absolute;
  }

  .cross img {
    width: 24px;
    height: 24px;
    top: 2%;
    right: 1%;
    position: absolute;
  }

  img {
    object-fit: cover;
  }

  .repic {
    width: 15%;
    margin-right: 5%;
    border-radius: 25%;
    border: 1px solid #d4a515;
    float: right;
  }

  .goup {
    cursor: pointer;
  }

  .hidden {
    display: none;
  }
}

@media screen and (orientation: portrait) {
  body {
    background-color: #0b090c;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Gothic;
    font-style: normal;
  }

  h1 {
    margin-top: 115vw;
    text-align: center;
    position: fixed;
    width: 96%;
    color: #d4a515;
    font-size: 0px;
  }

  h2 {
    margin-top: 3%;
    margin-bottom: 8%;
    text-align: center;
    width: 100%;
    font-family: Gothic;
    color: darkred;
    font-size: 20vw;
  }

  .enter {
    width: 100%;
    height: 100%;
    font-family: Gothic;
    color: red;
    position: fixed;
    font-size: 200px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  a {
    color: #d4a515;
    text-decoration: none;
  }

  li {
    width: 95%;
  }

  table {
    width: 96%;
    margin-left: 2%;
    margin-bottom: 10%;
  }

  td {
    width: auto;
    padding: 0.3%;
    font-size: 18px;
    border-top: 1px solid #d4a515;
    border-left: 1px solid #d4a515;
    font-family: PoiretOne-Regular;
    font-weight: bold;
    text-align: left;
    color: #d4a515;
  }

  .color {
    color: red;
  }

  .path {
    text-decoration: underline;
  }

  .resume {
    margin-left: 3%;
    margin-top: 2%;
    font-size: 24px;
    text-align: left;
    font-family: PoiretOne-Regular;
    color: #d4a515;
  }

  .list {
    text-align: center;
    margin-top: 0.5%;
    margin-bottom: 1%;
  }

  .text, p {
    padding-right: 2.5%;
    padding-left: 2.5%;
    margin-top: 5%;
    font-size: 2.5vw;
    text-align: justify;
    font-family: PoiretOne-Regular;
    color: #d4a515;
  }

  .text {
    padding-bottom: 10%;
  }

  .center {
    align-items: center;
  }

  .right {
    border-right: 1px solid #d4a515;
  }

  .bottom {
    border-bottom: 1px solid #d4a515;
  }

  .high {
    text-align: center;
  }

  .retext {
    font-family: Gothic;
    color: sandybrown;
    font-size: 100px;
    text-align: center;
  }

  .space-between {
    justify-content: space-between;
  }

  .row {
    flex-direction: row;
    display: flex;
  }

  .column {
    flex-direction: column;
    display: flex;
  }

  .category, .category_mobile {
    margin-left: 30px;
    margin-top: 0.2%;
    margin-bottom: 2.5%;
    font-family: Gothic;
    font-size: 25px;
    color: #d4a515;
  }

  .category_mobile {
    font-size: 80px;
    text-align: center;
  }

  .recategory {
    font-family: Gothic;
    font-size: 50px;
    text-align: center;
    color: #d4a515;
    padding-bottom: 3%;
  }

  .menu {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
  }

  .menudown {
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 2;
  }

  .kick {
    width: 98%;
    left: 0;
    bottom: 0;
    z-index: 2;
  }

  .display {
    display: none;
  }

  .up {
    width: 10vw;
  }

  .ten {
    padding-left: 84%;
  }

  .picture {
    width: 96%;
    border-radius: 3%;
    margin-top: 2vw;
    margin-left: 2vw;
  }

  .about {
    opacity: 1;
    margin-block: 1%;
  }

  .pic {
    width: 40px;
    height: 40px;
    margin-left: 12px;
  }

  .work {
    width: 60px;
    height: 60px;
    margin-left: 2%;
    margin-top: 2%;
  }

  .social {
    margin-right: 30px;
  }

  .background {
    width: 100%;
    height: 100%;
    position: fixed;
    opacity: 0.1;
    z-index: -1;
  }

  .down {
    margin-left: 4%;
    margin-bottom: 4%;
    padding-right: 3vw;
  }

  .content {
    margin-bottom: 20%;
  }

  .gallery, .places {
    margin-bottom: 10%;
    z-index: 1;
    display: flex;
    align-items: center;
  }

  .gallery img, .photo img, .places img {
    width: 100%;
    border-radius: 5%;
    border: 1px solid #d4a515;
  }

  .gallery div, .places div {
    color: #d4a515;
    text-align: center;
    margin-top: 5%;
    padding-bottom: 10%;
    font-size: 8vw;
    font-family: PoiretOne-Regular;
    font-weight: bold;
  }

  .gallery img {
    width: 600px;
    height: 600px;
  }

  .places {
    margin-left: 3%;
    padding-right: 3%;
  }

  .places img, iframe {
    width: 1200px;
    height: 760px;
    z-index: 1;
    border-radius: 1%;
    border: 1px solid #d4a515;
    margin: auto;
  }

  .photo {
    padding-right: 2%;
    padding-left: 2%;
    z-index: 1;
    display: flex;
    align-items: center;
  }

  .photo img {
    width: 400px;
    height: 400px;
  }

  .photo div {
    color: #d4a515;
    text-align: center;
    margin-top: 4%;
    margin-bottom: 17%;
    font-size: 4vw;
    font-weight: bold;
    font-family: PoiretOne-Regular;
  }

  .popup {
    background-color: black;
    opacity: 0.8;
    position: fixed;
  }

  .popup_container {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
  }

  .popup_image {
    border-radius: 20px;
    border: 1px solid red;
  }

  .button_left img {
    width: 34px;
    height: 34px;
    bottom: 60px;
    left: calc(50% - 78px);
    position: absolute;
  }

  .button_right img {
    width: 34px;
    height: 34px;
    bottom: 60px;
    right: calc(50% - 78px);
    position: absolute;
  }

  .cross img {
    width: 24px;
    height: 24px;
    top: 2%;
    right: 1%;
    position: absolute;
  }

  img {
    object-fit: cover;
  }

  .repic {
    width: 15%;
    margin-right: 5%;
    border-radius: 25%;
    border: 1px solid #d4a515;
    float: right;
  }

  .goup {
    cursor: pointer;
  }

  .width {
    width: 85%;
    font-size: 24px;
  }

   .hidden_mobile {
     display: none;
  }

   .one {
    justify-content: center;
  }

  .menu_mobile {
    background-color: rgba(0,0,0,0.8);
    width: 100%;
    height: 100%;
    position: fixed;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
   }

   .end, .end_2 {
    width: 100px;
    height: 100px;
    margin-top: -6vw;
    margin-left: 84vw;
   }

   .end_2 {
    margin-top: 0vw;
    margin-left: 88vw;
   }
}

  .big:hover::before {
    visibility: visible;
    animation: noise-anim-1 0.006s infinite linear alternate-reverse;
    animation-fill-mode: forwards;
}

  .big:hover::after {
    visibility: visible;
    animation: noise-anim-2 0.001s infinite linear alternate;
    animation-fill-mode: backwards;
  }

  .big::before, .big::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    animation-play-state: paused;
  }

  .big::before {
    left: -0.17vw;
    clip-path: inset(33% 0 30% 0);
    visibility: hidden;
  }

  .big::after {
    left: 0.17vw;
    clip-path: inset(58% 0 -12% 0);
    visibility: hidden;
  }

    @keyframes noise-anim-1 {
    0% {
      clip-path: inset(33% 0 30% 0);
    }
    20% {
      clip-path: inset(33% 92% 30% 1%);
    }
    40% {
      clip-path: inset(33% 43% 30% 1%);
    }
    60% {
      clip-path: inset(33% 25% 30% 58%);
    }
    80% {
      clip-path: inset(33% 54% 30% 7%);
    }
    100% {
      clip-path: inset(33% 58% 30% 43%);
    }
  }

  @keyframes noise-anim-2 {
    100% {
      clip-path: inset(58% 0 -12% 0);
    }
    80% {
      clip-path: inset(58% 92% -12% 1%);
    }
    60% {
      clip-path: inset(58% 43% -12% 1%);
    }
    40% {
      clip-path: inset(58% 25% -12% 58%);
    }
    20% {
      clip-path: inset(58% 54% -12% 7%);
    }
    0% {
      clip-path: inset(58% 58% -12% 43%);
    }
  }